/* ここから下に記載していく */
/* ここは共通系 */
.en-title{
    font-size: 24px;
}
.ja-title{
    font-size: 18px;
}
.yellow{
    color: #ffd61a;
}
.all-p{
    font-size: 16px;
    color: black;
}
/*ここから下は上部から順に書いていく  */
/* ヘッダー */
.nav{
    display: flex;
    justify-content: flex-end;
    justify-content: space-between;
    align-items: center;
    font-size: 21px;
}
.header_nav{
    padding: 50px 25px 50px 25px;
}
/* トップページ */
.toppage{
    position: relative;
}
.toppage_image{
    background-position: center; 
    background-size: cover;
    width: 100%;
    /* align-items: center; */
    /* display: flex; */
    /* justify-content: center; */
    position: absolute;
}
.toppage_text{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.toppage_title{
    color: white;
    font-size: 40px;
    font-weight: 200;
    margin-bottom: 30px;
}
.toppage_subtitle{
    color: white;
    font-size: 30px;
    /* position: absolute; */
}